.container__card {
    width: 440px;
    height: 500px;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 32px 0px;
}